<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru0xdc.sfts.service"
    android:versionCode="1"
    android:versionName="1.0.1"
    android:sharedUserId="android.uid.phone">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <permission
        android:name="ru0xdc.sfts.service.SERVICE_MODE"
        android:description="@string/service_mode_permission_description"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="ru0xdc.sfts.service.SERVICE_MODE" />

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_preferences">

        <service
            android:name="ru0xdc.sfts.service.FieldTestService"
            android:exported="true"
            android:permission="ru0xdc.sfts.service.SERVICE_MODE"
            android:process="com.android.phone">
            <intent-filter>
                <action android:name="ru0xdc.sfts.service.SERVICE_MODE" />
            </intent-filter>
        </service>

    </application>


</manifest>
